@import "colour";
.main_menu {
    > :nth-child(odd) {
        background: $block2;
    }
    > :nth-child(even)
    { 
        background: $block1; 
    }
    .menu_block {
        width: 100vw;
        align-items: center;
        height: 30vh;

        > *, img {
            margin: 0;
        }
        
        img {
            width: auto;
            margin-right: 11%;
        }

        h2 {
            font-size: 3em;
        }
    }
}

.issues {
    width: 30%;
    
    h3 {
        padding-left: 8px;
    }
    
    * {
        margin: 0;
    }

    ul {
        padding-left: 28px;
    }
}

.main_menu .menu_block {
    align-items: unset;
}

.chat_wrapper {
    width: 70%;
    overflow: hidden;
    background: $text_colour;

    .chat_date {
        text-align: right;
        
        h3 {
        margin: 0;
        padding-right: 10px;
        background: $block1;
        }
    }

    .chat_summary {
        p {
            margin: 0;
            padding: 5px;
            padding-bottom: 0;
            font-size: .99em
        }
    }

    .doctor_name {
        display: flex;
        flex-direction: row-reverse;
        padding: 10px 0;

        p {
            align-self: flex-end;
        }

        * {
            margin: 0;
        }

        img {
            width: 66px !important;
            height: 66px !important;
            border-radius: 100%;
            border: 1px solid $text_grey;
            margin: 0 9px;
        }
    }

    .chat_summary, .doctor_name {
        background: $text_colour;

        * {
            color: $text_grey;
        }
    }
}

.chat2 h3 {
    background: $block2 !important;
}