$nav_colour: #5EC2A7;
$nav_colour_focus: #5bb59d;

$nav_mobile_colour: #60ceb0;
$nav_mobile_colour_focus: #5ab79e;

$accent_colour: #5EC2A7;
$accent_colour_focus: rgb(63, 134, 114);

$block_colour: #5EC2A7;

$link_colour: #055b83;
$link_colour_footer: #0075b7;

$text_colour: rgb(241, 241, 241);
$text_colour_register: #95989A;

$background-color: #A4D8CC;


$buttons: #5EC2A7; //logo
$block1: #88D8C2;
$block2: #A4E2D0;
$text_grey: #95989A;