body {
    overflow: unset;
}
main {
    flex: unset;
}

nav a {
    height: 100%;
    img {
        height: 100%;
    }
}

footer a {    //height of all elements above
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EB2323;
    h3 {
        margin: 0;
        font-size: 3em;
    }
}

a {
    display: block;
    color: inherit;
}